.statistics {
  padding-top: 20px;
}

.statisticsContainer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 0;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
}

.statList {
  display: flex;
  justify-content: space-between;
}

.statItem {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
